.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--green {
  background-color: lightgreen;
}

.card--red {
  background-color: lightcoral;
}

.card--yellow {
  background-color: lightyellow;
}

.card--braun {
  background-color: rgb(194, 137, 13);
}

.card--orange {
  background-color: rgb(255, 140, 0);
}